---
pagination:
    data: commanders
    size: 1
    alias: mycommander
permalink: "commander/{{ mycommander.commanderstring | slug }}/"
---
<!DOCTYPE html>
<html>
  <head>
    <title>PDHREC | Pauper Commander</title>

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pdhrec-api.azurewebsites.net/">
    <meta property="og:title" content="PDHREC | Pauper Commander Card Recommendations">
    <meta property="og:description" content="PDHREC collects thousands of decks, and analyzes them so you can build the best possible deck.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/nav.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    {% include 'components/nav.liquid' %}

    <script src="/js/deckdata.js"></script>
    <div id="main" class="main">
      <div id="gallery" class="gallery">
        <div id="commander-information" class="gallery-item" style="width: 100%; display: flex;">
          {% include 'components/commander_image.liquid', commander: mycommander %}
          <div class="big-gallery-item">{{mycommander.commanders[0]}} <br> In {{mycommander.count}} decks.</div>
        </div>
        {% for card_data in mycommander.carddata %}

          <a class="gallery-item">
            <img loading="lazy" alt="{{card_data[0]}}" src="{{card_data[2]}}" class="" data-src="{{card_data[2]}}"/>
            <div class="info">{{card_data[0]}}: {{card_data[1] | times:100 | round: 2}}%</div>
          </a>

        {% endfor %}

      </div>
    </div>
  <div id="about" class="main" style="display: none;">
      <p></p>
      <h2>About PDHREC</h2>
      <p></p>
      <p>Inspired by
        <a target="_blank" href="https://edhrec.com">EDHREC</a>, the Commander website,
        PDHREC is an attempt to do similar things for Pauper Commander.
      </p>
      <p>PDHREC collects data from publicly available decks on deck building websites, and performs aggregations on
        the data.
      </p>
      <p>
        The synergy score for a card is a measure of how popular a card is in this particular deck, versus in other
        decks. It's calculated for each card per commander by first calculating the percentage of decks with the
                                  commander it is in, and then subtracting the percentage of decks it is in on average.  A score of -100% synergy
                                  means every deck runs it, except for decks with your commander.  A score of +100% synergy is highly unlikely,
                                  but means that every single deck with this commander runs it, and no others decks do.
      </p>
    </div>
    <footer id="footer">
      <div id="footer-flex">
        <p>
          PDHREC is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.
        </p>
      </div>
    </footer>

  </body>
</html>