---
title: Staples | PDHREC
layout: base.liquid

---
<div id="gallery" class="gallery">
  <div class="gallery-item" style="width: 100%; display: flex; justify-content: center;">
    <div
      id="colors"
      class="pagination symbols"
      style="max-width: 400px;">
      <a class="active">
        <div class="symbolW"></div>
      </a>
      <a class="active">
        <div class="symbolU"></div>
      </a>
      <a class="active">
        <div class="symbolB"></div>
      </a>
      <a class="active">
        <div class="symbolR"></div>
      </a>
      <a class="active">
        <div class="symbolG"></div>
      </a>
    </div>
  </div>
  {% for card_data in staples limit: 1200 %}
    <a class="gallery-item" color-identity={{ card_data[3] }}>
      <img
        loading="lazy"
        alt="{{card_data[0] | escape }}"
        src="{{card_data[2]}}"
        data-src="{{card_data[2]}}" />
      <div class="info">{{ card_data[0] }}: {{ card_data[1] | times: 100 | round: 2 }}%</div>
    </a>
  {% endfor %}
</div>
<script src="/js/staples.js"></script>